.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.bgrnd {
  height: 60vh;
    background-size: cover;
    background-image: url('./components/SplashPage/image/homepage.jpg')
}
.loginBar {
  align-items: center;
  /* border-bottom: 3px solid rgb(221, 221, 221); */
  /* background: blue; */
  display: flex;
  /* height: 70px; */
  justify-content: space-around;
  padding: 1%;
  width: 100%;
  /* -webkit-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42); */
}

.navLink {
  font-size: 1rem;
  text-decoration: none;
  color: blue;
  background-color: white;
}
.loginBar > a.activeNavButton {
  background-color: blue;
  color: white;
  padding: 1%;
  text-align: center;
  border-radius: 8px;
} 